.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
    box-shadow: none !important;
}
.theme--light.v-app-bar.v-toolbar.v-sheet
{
    background: #F3F3F3 !important;
}
.theme--light.v-application {
    background: #F3F3F3 !important;
}
.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 15px !important;
}
.v-list-item--active{
    color: #35BBB4 !important;
    background: #E2F5F5;
    border-right: 4px solid;
}
.v-list-item-custom{
    padding: 0 16px 0 26px !important;
    min-height: 40px !important;
}
.v-list-item__action-custom{
    margin: 8px 0 !important;
}
.v-btn-custom-header{
    height: unset !important;
    width: unset !important;
}
.v-btn-custom-header span{
    height: 100% !important;
    width: 100% !important;
}
.fs-12{
    font-size: 12px;
}
.v-menu__content{
    box-shadow: 16px 16px 42px rgba(51, 51, 51, 0.12) !important;
}
.v-menu__content--fixed, .shadow-none{
    /* top: 55px !important; */
    border-radius: 8px !important;
    box-shadow: unset !important;
}

.shadow-none{
    box-shadow: unset !important;
}
.border-none{
    border-bottom: none !important;
}
.tab-border-bottom-none .v-tabs-slider{
    display: none !important;
}

.custom_emoji_parent #EmojiPicker{
    width: 100% !important;
    height: 246px !important; 
}

#EmojiPicker input:focus {
    background-color: #fdfdfd;
    border: 1px solid rgb(138, 138, 138);
    outline: 0;
}

#EmojiPicker span{
    width: 36px !important;
}
.emoji-active{
    background: #45bec5 !important;
    border-radius: 5px !important;
}
.project_profile_tab_btn{
    border: 1px solid;
    border-radius: 8px;
    margin-right: 10px;
}
.project_profile_tab_btn_active{
    background: #34495E;
    color: white !important;
}

div[aria-expanded="true"] .aria_expanded_true, div[aria-expanded="true"] .aria_expanded_true{
    color: #34495E !important;
}
div[aria-expanded="false"] .aria_expanded_true, div[aria-expanded="false"] .aria_expanded_true{
    color: #787878 !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
div[aria-expanded="true"] .border_color_aria{
    border: 1.6px solid #34495E;
}
div[aria-expanded="false"] .border_color_aria{
    border: 1.6px solid #787878;
}
.check_icon_img {
    position: absolute !important;
    transform: translate(35px, -60px);
    display: none !important;
 }
 .upload-img-custom{
    background: #F6F6F6;
    border-radius: 16px;
    height: 150px;
    text-align: center !important;
    justify-content: center;
    border: 1px dashed #BEBEBE;
 }
.image_select_radio[type="radio"]:checked+label .check_icon_img {
    display: block !important;
}

.image_select_radio[type="radio"]:checked+label img {
    opacity: .5;
 }

.badge-notification {
    z-index: 99999999;
    position: absolute;
    transform: translate(15px, -5px);
}
.badge-notification span span{    
    min-width: 16px;
    padding: 2px 1px;
    font-size: 10px;
    height: 16px;
}
.btn-shadow{
    box-shadow: 16px 16px 38px rgba(0, 0, 0, 0.05) !important;
}
.card-shadow{
    box-shadow: 16px 16px 42px rgba(51, 51, 51, 0.12) !important;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #d6fcff; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #76eaf0; 
    border-radius:5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #47d9e0; 
} 
.card-border, .btn-border{
    border-radius: 8px !important;
}
.small-border{
    border: 1.6px solid #E5E5E5;
}
.v-select-custom div div{
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important
}
.custom-pagination nav ul{
    justify-content: flex-end !important;
}
.feedback-custom-margin{
    margin: 40px 40px 0px 65px !important;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 768px) {
    .feedback-custom-margin{
        margin: 15px 10px 0px 10px !important;
    }
    .sm-d-none{
        display: none !important;
    }
}