.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
    box-shadow: none !important;
}
.theme--light.v-app-bar.v-toolbar.v-sheet
{
    background: #F3F3F3 !important;
}
.theme--light.v-application {
    background: #F3F3F3 !important;
}
.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 15px !important;
}
.v-list-item--active{
    color: rgba(52, 73, 94, 1) !important;
    background: #E0EAF3;
    border-right: 4px solid;
}
.custom-d-flex{
    display: flex;
}
.v-list-item-custom{
    padding: 0 16px 0 26px !important;
    min-height: 40px !important;
}
.v-list-item__action-custom{
    margin: 8px 0 !important;
}
.v-btn-custom-header{
    height: unset !important;
    width: unset !important;
}
.v-btn-custom-header span{
    height: 100% !important;
    width: 100% !important;
}
.br-16{
    border-radius: 16px !important;
}
.fs-12{
    font-size: 12px;
}
.project_profile_custom_color_div{
    height: 90px;
    width: 90px;
    border-radius: 10px;
}
.custom-combox, .custom-combox div, .custom-combox div div{
    min-height: 150px;
}
.ql-toolbar{
    border-radius: 8px 8px 0px 0px !important;
}
.custom-title{
    font-weight: 500;
    font-size: 23px;
    color: #34495E;
}
.custom-subtitle{
    font-weight: 500;
    font-size: 16px;
}
.project_cover_btn span{
    color: white !important;
    text-transform: none !important;
    font-weight: 400 !important;
}
.custom-techknowlogy{
    background: rgba(219, 234, 249, 1) !important;
    padding: 5px !important;
    color: rgba(52, 73, 94, 1) !important;
    text-align: center !important;
    margin-right: 10px !important;
    border-radius: 24px !important;
    font-weight: inherit !important;
}
.bg-none{
    background: unset !important;
}
.popular_skils .v-expansion-panel{
    background: unset !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: unset !important;
}
.popular_skils .v-expansion-panel-header{
    padding: 0 !important;
}
.popular_skils .v-expansion-panel-header__icon{
    margin-left: 5px !important;
}
.popular_skils .v-expansion-panel-content__wrap{
    padding: 0 0px 16px !important; 
}
.popular_skils .v-expansion-panel::before{
    box-shadow: unset !important;
}
.popular_skils .custom-subtitle{
    flex: unset !important;
}
.border-solid{
    border: 1px solid #BEBEBE;
}
.border-radius-12{
    border-radius: 12px;
}
.popular_skils .custom-techknowlogy-suggest{
    background: rgba(255, 255, 255, 1) !important;
    padding: 5px !important;
    color:rgba(93, 114, 135, 1) !important;
    text-align: center !important;
    margin-right: 10px !important;
    border-radius: 24px !important;
    border: 1px solid #CDCDCD !important;
}
#dropzone{
    min-height: 200px !important;
    border-radius: 8px !important;
    border: 1.8px dashed #979393;
}
.dz-message{
    margin-top: 28px !important;
}
.vue-dropzone>.dz-preview .dz-details {
    background-color: var(--v-primary-base);
}
.dz-remove{
    
}
#quill-container, .ql-editor, .ql-editor{
    border-radius: 0px 0px 8px 8px !important;
}
.card-border-dashed{
    border: 1.5px dashed #BEBEBE;
}
.custom-combox .v-select__selections, .custom-combox .v-select__slot{
    align-items: normal !important;
    display: unset !important;
}
.v-menu__content{
    box-shadow: 16px 16px 42px rgba(51, 51, 51, 0.12) !important;
}
.v-menu__content--fixed, .shadow-none{
    /* top: 55px !important; */
    border-radius: 8px !important;
    box-shadow: unset !important;
}
.border-solid-sm{
    border: 1px solid #BEBEBE !important; 
}
.normal-btn .v-btn__content{
    color: rgba(85, 85, 85, 1) !important;
    text-transform: none !important;
    font-weight: 400 !important;
}
.dz-preview, .dz-image img{
    width: 180px !important;
    height: 180px !important;
}
.dz-preview{
    border: 1px solid #f3f3f3;
    padding: 1px;  
    box-shadow: 16px 16px 42px rgba(51, 51, 51, 0.12) !important;
    border-radius: 8px !important;
}
.dz-details{
    border-radius: 8px !important;
}
.dz-remove{
    padding: 5px !important;
    border-radius: 5px !important;
    margin: auto !important;
    left: 29px !important;
    text-decoration: none !important;
}
.text-dn{
    text-decoration: none !important;
}

.shadow-none{
    box-shadow: unset !important;
}
.border-none{
    border-bottom: none !important;
}
.tab-border-bottom-none .v-tabs-slider{
    display: none !important;
}

.custom_emoji_parent #EmojiPicker{
    width: 100% !important;
    height: 246px !important; 
}

#EmojiPicker input:focus {
    background-color: #fdfdfd;
    border: 1px solid rgb(138, 138, 138);
    outline: 0;
}

#EmojiPicker span{
    width: 36px !important;
}
.emoji-active{
    background: #45bec5 !important;
    border-radius: 5px !important;
}
.project_profile_tab_btn{
    border: 1px solid;
    border-radius: 8px;
    margin-right: 10px;
}
.project_profile_tab_btn_active{
    background: #34495E;
    color: white !important;
}
.footer-table tr{
    background: white !important;
}
.package td:last-child,.package th:last-child {
    border-right: none !important;
}
.package-th {
    vertical-align: -webkit-baseline-middle;
}
/* .package tr:nth-child(even) {background: white !important;} */
.footer-table tr td{
    border: none !important;
}

div[aria-expanded="true"] .aria_expanded_true, div[aria-expanded="true"] .aria_expanded_true{
    color: #34495E !important;
}
div[aria-expanded="false"] .aria_expanded_true, div[aria-expanded="false"] .aria_expanded_true{
    color: #787878 !important;
}
.aria-expanded-btn{
    border-radius: 12px !important;
}
.aria-expanded-btn[aria-expanded="true"]
{
    background: #34495E !important;
    color: #ffffff !important;
}
.cursor-pointer{
    cursor: pointer !important;
}
div[aria-expanded="true"] .border_color_aria{
    border: 1.6px solid #34495E;
}
div[aria-expanded="false"] .border_color_aria{
    border: 1.6px solid #787878;
}
.check_icon_img {
    position: absolute !important;
    transform: translate(35px, -60px);
    display: none !important;
 }
 .upload-img-custom{
    background: #F6F6F6;
    border-radius: 16px;
    height: 150px;
    text-align: center !important;
    justify-content: center;
    border: 1px dashed #BEBEBE;
 }
.image_select_radio[type="radio"]:checked+label .check_icon_img {
    display: block !important;
}

.image_select_radio[type="radio"]:checked+label img {
    opacity: .5;
 }

.badge-notification {
    z-index: 99999999;
    position: absolute;
    transform: translate(15px, -5px);
}
.badge-notification span span{    
    min-width: 16px;
    padding: 2px 1px;
    font-size: 10px;
    height: 16px;
}
.btn-shadow{
    box-shadow: 16px 16px 38px rgba(0, 0, 0, 0.05) !important;
}
.card-shadow{
    box-shadow: 16px 16px 42px rgba(51, 51, 51, 0.12) !important;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #E0EAF3; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(103, 140, 177); 
    border-radius:5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 165, 212); 
} 
.card-border, .btn-border{
    border-radius: 8px !important;
}
.small-border{
    border: 1.6px solid #E5E5E5;
}
.v-select-custom div div{
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important
}
.custom-pagination nav ul{
    justify-content: flex-end !important;
}
.feedback-custom-margin{
    margin: 40px 40px 0px 65px !important;
}
.center-div{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.cd-none{
    display: none !important;
}
.res-justify-space-between{
    justify-content: space-between;
}
.res-justify-center{
    justify-content: center;
}
.slide-style-none{
    background: unset !important;
    border: none !important;
    width: 230px !important;
}
.img-opacity-black .v-image__image{
    background: rgba(0, 0, 0, 0.6);
    opacity : 50% !important;
}
.egg {
    border-radius: 50%;
    border: 1px solid rgba(52, 73, 94, 1);
    padding: 10px 30px;
    width: fit-content;
}
.package{
    border: 1px solid rgba(156, 156, 156, 1);
    border-collapse: collapse;
}
.package th{
    width: 25%;
    height: 180px !important;
    border-right: 1px solid rgba(156, 156, 156, 1);
}
.package td{
    border-right: 1px solid rgba(156, 156, 156, 1);
}
.slide-style-none-slider-top{
    background: unset !important;
    border: none !important;
    width: 100% !important;
}
.top-card-slide{
    height: 150px;
}
.prev, .next{
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: .0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: .0892857143em;
    text-transform: uppercase;
    transition-duration: .28s;
    transition-property: box-shadow,transform,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 10px 10px 16px rgba(39, 70, 69, 0.2) !important;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: white;
    color: rgb(22, 32, 32) !important;
}
.prev span {
    font-size: 45px;
    margin-top: -7px;
    margin-left: -3px;
    font-weight: 300 !important;
}
.next span{
    font-size: 45px;
    margin-top: -7px;
    margin-left: 2px;
    font-weight: 300 !important;
}
.w-100{
    width: 100% !important;
}
.top-slider{
    width: 60%;
    margin: auto;
    background: rgba(224, 234, 243, 1);
}
.md-w-70{
    width: 70%;
    margin: auto;
}
.md-w-100{
    width: 100% !important;
}
.expansion-bg-none{
    background: none !important;
}
.expansion-bg-none .v-expansion-panel::before{
    box-shadow: unset !important;
}
.expansion-bg-none .v-expansion-panel{
    /* background: none !important; */
}
.bg-none-tab .theme--light{
    background: none !important;
}
.bg-none-tab-item{
    background: none !important;
}
.text-gray{
    color: rgba(119, 119, 119, 1);
}
.body-span {
    font-size: 15px;
    font-weight: 400;
    color: rgba(85, 85, 85, 1);
}
.package_customize_card:hover .package_customize_card_hover_div{
    display: flex;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.package_customize_card_hover_div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.42);
    top: 0;
    z-index: 2;
    border-radius: 14px;
    align-items: center;
    vertical-align: middle;
    display: none;
    justify-content: center;
}
.text-case-unset{
    text-transform: unset !important;
}
.package_customize_card{
    /* box-shadow: 0 5px 11px 0 rgb(0 0 0 / 10%) !important; */
    border: 1px solid #ebeaea !important;
}

element.style {
    left: 0px;
    right: auto;
    position: relative;
}
.example_site_link .v-label {
    font-size: 22px !important;
    font-weight: 400 !important;
    color: rgba(52, 73, 94, 1) !important;
}
.example_site_link i{
    font-size: 28px !important;
}
.example_site_link1 .v-label {
    font-size: 18px !important;
    font-weight: 400 !important;
    color: rgba(52, 73, 94, 1) !important;
}
.example_site_link1 i{
    font-size: 24px !important;
}
.package-example-btn{
    min-height: 50px;
    min-width: 250px !important;
}
.summary{
    border: 2px solid #d8d6d6;
}
.summary span{
    width: 70px;
    text-align: left;
}
.inner-filed-border-none .v-input__slot:before{
    border: 0px solid !important;
}
.box{
    border: 1.2px solid #F3F3F3;
    border-radius: 4px;
}
.box:hover{
    border: 1.2px solid #CFD0D0;
    background:rgba(246, 246, 246, 1);
    box-sizing: border-box;
    border-radius: 4px;
}
.package-example-div{
    display: flex;
    justify-content: space-between;
}
.inner-filed-border fieldset{
    border: 1px solid #d8d6d6;
}
.login-card{
    min-height: 560px;
    display: table !important;
}
.login-card-child{
    display: table-cell !important;
    vertical-align: middle !important;
}
.online-active-icon{
    position: absolute !important;
    transform: translate(27px, 32px) !important;
    z-index: 999999 !important;
}
@media screen and (max-width: 768px) {
    .package-example-btn{
        min-height: 40px;
        min-width: 150px !important;
    }
    .login-card{
        min-height: 560px;
    }
    .feedback-custom-margin{
        margin: 15px 10px 0px 10px !important;
    }
    .sm-d-none{
        display: none !important;
    }
    .md-w-70{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .login-card{
        min-height: 360px;
    }
.package-example-btn{
    min-height: 40px;
    min-width: 90px !important;
    font-size: .75rem;
}
.xs-display-unset{
    display: unset !important;
}
.md-w-100{
    width: unset !important;
}
.xs-flex-wrap{
    flex-wrap: wrap !important;
}
.xs-text-left{
    text-align: left !important;
}
.xs-d-none{
    display: none !important;
}
.xs-d-block{
    display: block !important;
}
.xs-p-0{
    padding: 0 !important;
}
.xs-px-0{
    padding: 12px 0px !important;
}
.res-justify-space-between,.res-justify-center{
    justify-content: unset !important;
}
.xs-mt-2 {
    margin-top: 10px !important;
}
}